/* font-family: 'Raleway', sans-serif; */
/* font-family: 'Spartan', sans-serif; */
/* font-family: 'Srisakdi', cursive; */
/* font-family: 'Stylish', sans-serif; */
    
/* Config générale */

* {

    margin: 0;
    padding: 0;

}

body {
    
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    background-color: #F0F0F0;

}
.container {

    max-width: 1200px;
    margin: 0 auto;

}

.container-med {

    max-width: 800px;
    margin: 0 auto;

}

.pagepadding-top {

    padding-top: 120px;

}

.text-center {

    text-align: center;

}

a {

    text-decoration: none;
    color: #c8c8c8;

}

h1 {

    font-size: 2.2rem;
    color: #a08a3a;

}

hr {

    width: 270px;
    margin: auto;
    margin-top: 50px;
    color: #909090;
    
}

.uppercase {

    text-transform: uppercase;

}


.button_light {

    padding: 5px 20px;
    font-size: 1.4rem;
    font-weight: 100;
    text-transform: uppercase;
    color:#6C6C6C;
    background-color: #E3D6A5;
    box-shadow: 5px 5px 10px rgb(61, 61, 61);
    transition: 0.3s;

}

.button_light:hover {
    color: #c8c8c8;
    background-color: #2E2E2E;
    transition: 0.3s;
}

.button_dark {

    padding: 10px 30px;
    font-size: 1.6rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #E3D6A5;
    background-color: #2E2E2E;
    box-shadow: 5px 5px 10px rgb(61, 61, 61);
    transition: 0.3s;

}

.button_dark:hover {

    color: #2E2E2E;
    background-color: #E3D6A5;
    transition: 0.3s;

}

.button_dark_gold {

    padding: 10px 30px;
    font-size: 1.6rem;
    font-weight: 100;
    text-transform: uppercase;
    color: #E3D6A5;
    background-color: #2E2E2E;
    border: 1px solid #E3D6A5;
    transition: 0.3s;

}

.button_dark_gold:hover {

    color: #2E2E2E;
    background-color: #E3D6A5;
    transition: 0.3s;

}

.hidden {

    display: none;

}

.show {

    display: block;

}

/* HEADER */

#headband {

    color: #c8c8c8;
    background: rgb(46,46,46);
    background: linear-gradient(0deg, rgba(46,46,46,1) 0%, rgba(69,69,69,1) 100%); 
    width: 100%;
    height: 70px;
    font-size: 1.2rem;
    position: fixed;
    z-index: 20000;
    box-shadow: 0px 2px 5px rgb(48, 48, 48);

}

#headband #headband_items {

    display: flex;
    width: 100%;
    justify-content: space-between;
   
}

#headband #headband_items #headband_logo {

    width: 30%;
    padding-left: 10px;

}

#headband #headband_items #headband_logo a{

    display: block;
    width: 100px;

}

#headband #headband_items #headband_logo p:first-child {

    font-family: 'Stylish', sans-serif;
    font-size: 2.4rem;
    

}

#headband #headband_items #headband_logo p:last-child {
 
    font-family: 'Srisakdi', cursive;
    line-height: 0.1rem;
    font-weight: 700;
    
}

#main_menu { 
    
    display: none;
    
}

#main_menu li {

    padding:0 10px;

}

#headband #account_header {

    width: 30%;
    display: none;
}

#headband #account_header a{

    display: flex;
    align-items: center;
    width: 74%;
    margin-top: 10px;
    text-transform: uppercase;

}

#headband #account_header img {

    width: 25px;
    height: 25px;

}

#headband #account_header p {

    width:250px;
    padding-left: 20px;

}

/* menu Burger */

#headband .burger_btn {

    color: #c8c8c8;
    padding-right: 18px;
    padding-top: 15px;
    animation-name: burger_open;
    animation-duration: 1s;
}

#headband #bouton_burger_close {
    padding-top: 10px;
    animation-name: burger_close;
    animation-duration: 1s;
    
}

@keyframes burger_open {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

@keyframes burger_close {
    0% {opacity: 0;}
    100% {opacity: 100%;}
}

#headband .burger_btn:hover {

    cursor: pointer;
}

#headband #menu_burger {

    color: #c8c8c8;
    position: absolute;
    top: 70px;
    right: 0px;
    background: rgb(46,46,46);
    box-shadow: 0px 2px 5px rgb(48, 48, 48);
    width: 220px;
    font-size: 1.5rem;
    text-transform: uppercase;
    animation-name: burger;
    animation-duration: 1s;
}

@keyframes burger {
    0% {opacity: 0; right: -220px;}
    100% {opacity: 100%; right: 0px;}
}

#headband #menu_burger ul {

    list-style: none;
    
}

#headband #menu_burger ul a {

    display: block;
    padding: 10px;
    text-align: center;
    border-bottom: 1px dashed white;
}
    
/* HOME PAGE */

/* première partie */
#background_home #background_galerie {

    position: relative;
    top: 70px;

}

#background_home #background_img{

    max-width: 1200px;
    width: 100%;
    object-fit: cover;
    height: 500px;

}

/* cadre dorée */

#background_home #frame_header img {

    max-width: 180px;
    width: 26%;
}

#background_home #frame_header #frame_corner_lt {

    position: absolute;
    top: 50px;
    left: 30px;

}

#background_home #frame_header #frame_corner_lb {

    position: absolute;
    bottom: 90px;
    left: 30px;
}

#background_home #frame_header #frame_corner_rt {

    position: absolute;
    top: 50px;
    right: 30px;
}

#background_home #frame_header #frame_corner_rb {

    position: absolute;
    bottom: 90px;
    right: 30px;
}

  
#background_home #intro_home{
    
    position: absolute;
    top: 90px;
    left: 20%;
    right: 20%;
    color: #c8c8c8;
    font-size: 1.5rem; 
    padding: 17px 8px;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.678);

}

#background_home #button_galerie {

    position: absolute;
    text-align: center;
    bottom: -20px;
    left: 10%;
    right: 10%;
 
}

/* Présentation */

#background_home #present_home {
    
    margin: 120px auto 0px auto;
    text-align: center;
    max-width: 700px;
    

}
#background_home #present_home h1{
    
    text-transform: uppercase;
    text-align: center;

}

#background_home #present_home p {

    margin-top: 45px;
    padding: 10px;

}


/* deuxième partie */

#tica_present {

    margin-top: 50px;
    position: relative;

}

#tica_present h1 {

    text-align: center;
    text-transform: uppercase;

}


#tica_present #tica_text {

    text-align: center;
    width: 100%;
    margin-top: 30px;

}

#tica_present #tica_text p {

    margin-top: 10px;
    padding: 10px;
    font-size: 1.1rem;

}

#tica_present figure img {
    
    width: 300px;
    object-fit: contain;

  }


#tica_present #button_artistes {

    margin-top: 40px;
    text-align: center;

}

#tica_present hr {

    margin-top: 60px;

}

/* Section Blog et instagram de home */

#insta_blog {

    margin-top: 80px;

}


#insta_blog .block_bottom {

    background: rgb(43,43,43);
    background: linear-gradient(0deg, rgba(43,43,43,1) 0%, rgba(0,0,0,1) 100%); 
    width: 35%;
    max-width: 450px;
    min-width: 300px;
    height: 670px;
    margin: 10px;
    position: relative;
    

}

#insta_blog #block_blog {

    height: 400px;
    
}

#insta_blog #insta_blog_flex {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 92%;
    margin: auto;
    
}

#insta_blog .frames_bottom {

    z-index: 1;

}

#insta_blog  #frame_corner_lt {

    position: absolute;
    top: -40px;
    left: -40px;
    width: 50%;

}

#insta_blog  #frame_corner_lb {

    position: absolute;
    bottom: -460px;
    left: -40px;
    width: 50%;
}

#insta_blog  #frame_corner_rt {

    position: absolute;
    top: -730px;
    right: -40px;
    width: 50%;

}

#insta_blog  #frame_corner_rb {

    position: absolute;
    bottom: -40px;
    right: -40px;
    width: 50%;

}
#insta_blog_flex #block_instagram #instagram_cards {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 4px;
    
}

#insta_blog_flex #block_instagram #instagram_cards a {

    padding: 5px;
    z-index: 2000;
    transition: 0.3s;
     
}

#insta_blog_flex #block_instagram #instagram_cards a:hover {

    scale: 1.05;
    transition: 0.3s;
     
}
#insta_blog_flex #block_instagram #instagram_cards a img {
   
    max-width: 137px;
    height: 180px;

}

#insta_blog .button_blog_insta {

    z-index: 2000;
    position: absolute;
    text-align: center;
    margin: 15px auto;
    font-size: 1rem;
    left: 25%;
    right: 25%;

}

#insta_blog #block_blog_flex {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3px;

}

#insta_blog #block_blog .card_blog {

    width: 43%;
    padding: 10px;
    height: 133px;
    z-index: 2000;
    transition: 0.3s;

}
#insta_blog #block_blog .card_blog:hover {

    scale: 1.05;
    transition: 0.3s;

}

#insta_blog #block_blog .card_blog p{

 font-size: 0.4rem;

}

#insta_blog #block_blog .card_blog h2{

    font-size: 0.9rem;
   
   }

#insta_blog #block_blog .card_blog img {

    border-radius: 8px;
    max-width: 130px;

}
/* PAGE GALERIE */

.flex-template
{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 630px;
    justify-content: center;
    text-align: center;
    /* padding-left: 14%;
    padding-right: 14%; */
    margin: 70px auto;
   
    
}
.flex-template .card-template {

    min-width: 50%;
    padding-bottom: 15px;
    font-size: 0.9rem;
    position: relative;
    
}

.flex-template .card-template img{

    width: 300px;
    height: 250px;
    object-fit: cover;
    
}

.flex-template .card-template .infos-paint {

    position: absolute;
    bottom: 18px;
    display: flex;
    width: 300px;
    justify-content: space-around;
    text-align: left;
    background-color: #2e2e2ece;
    color: #cfcfcf;
    padding: 2px 0 2px 0;
    
}
.flex-template .card-template .infos-paint div {

    width: 45%;

}

.flex-template .card-template .infos-paint-desc {

    display: none;

}
.flex-template .card-template a {

    display: inline-block;
    width: 300px;
    height: 250px;
    background-color: #2E2E2E;
    color: #333333;
    box-shadow: 0px 2px 5px rgb(48, 48, 48);

}
.flex-template .frame_template_top, .flex-template .frame_template_bottom {

    position: relative;
}

.flex-template .frame_template_top .frame_template_corner_lt {

    position: absolute;
    top:  -30px;
    left: -30px;
    max-width: 140px;
}


.flex-template .frame_template_top .frame_template_corner_rt {

    position: absolute;
    top:  -30px;
    right: -330px;
    max-width: 140px;
}

.flex-template .frame_template_bottom .frame_template_corner_rb {

    position: absolute;
    bottom: -20px;
    right: -30px;
    max-width: 140px;
}

.flex-template .frame_template_bottom .frame_template_corner_lb {

    position: absolute;
    bottom: -20px;
    left: -330px;
    max-width: 140px;
}

/* .flex-template .card-template a:hover .infos-paint {

    display: block;

} */

/* .flex-template .card-template a:hover img {
    display: none;
} */


/* PAGE DE CONTACT */

#contact {

    display: flex;
    flex-direction: column;
    text-align: center;
    
}

#contact h1 {

    margin-bottom: 20px;

}

#contact div {

    width: 100%;
    padding: 15px;
    
}

#contact label {

    display: inline-block;
    width: 180px;
    text-align: left;

}

#contact input {

    width: 290px;
    padding: 5px;
    font-size: 1.3rem;
    outline: none;

}

#contact textarea {

    width: 290px;
    padding: 5px;
    font-size: 1.2rem;
    height: 170px;
    font-family: "Raleway";
    outline: none;

}

#contact input:focus, #contact textarea:focus{

    outline: 1px solid black;
    background-color: #ebebeb;

}

#contact #label-textarea {

    vertical-align: top ;

}

#contact #bouton_form_contact {

    width: 70%;
    cursor: pointer;
    margin-bottom: 15px;

}

::placeholder {
    color: #858585;
}

/* FOOTER */

footer {

    margin-top: 100px;
    height: 100%;
    width: 100%;
    color: #cfcfcf;
    padding-top: 35px;
    font-size: 1.5rem;
    position: relative;
    box-shadow: 0px -2px 5px rgb(48, 48, 48);
    background: rgb(46,46,46);
    background: linear-gradient(0deg, rgba(46,46,46,1) 0%, rgba(69,69,69,1) 100%); 
}

footer #footer_flex {

    display: flex;
    flex-direction: column;
    width: 100%;
    
   
}

footer aside p:first-child {

    font-family: 'Stylish', sans-serif;
    font-size: 2.8rem;
    

}

footer aside {

    padding-left: 5%;
    text-align: center;
    margin: auto;
}

footer aside p:last-child {
 
    font-family: 'Srisakdi', cursive;
    line-height: 0.2rem;
    font-weight: 700;
}

footer .vertical_dot_line {

    display: none;
    

}

footer aside {

    display: none;

}

footer aside div {

    width: 30%;
    text-align: center;

}

footer #nav_link {
    
    width: 100%;
    margin-top: 0px;
    text-align: center;
    
}

footer #nav_link ul {
    
    list-style: none;
    
}

footer #nav_link ul li {
   
    padding: 5px;
    width: 70%;
    margin: auto;
    border-bottom: 1px solid rgb(78, 78, 78);

}
footer #nav_link ul li a {

    padding: 5px;
    
}

footer #footer_menu {

    display: flex;
    width: 100%;
    flex-direction: column;
    font-size: 2rem;
    line-height: 110%;
    text-align: center;
    margin-top: 20px;


}
footer #footer_menu a {
   
    padding: 5px;
    border-bottom: 1px solid rgb(78, 78, 78);
    width: 70%;
    margin: auto;
}
#footer_flex hr {

    display: block;
    width: 99%;
    border: 1px dashed #5e5e5e;
    margin-top: 30px;

}

footer #copy_foot {

    text-align: center;
    padding-top: 20px;
    
    font-size: 1.2rem;

}

footer #copy_foot a {
    
    padding-top: 5px;
    display: inline-block;
}
footer #copy_foot hr {

    width: 99%;
    margin-top: 0px;
    border: 1px dashed #5e5e5e;
}

@media screen and (min-width: 400px) {

/* Géneral */

    hr {

        width: 400px;
        
    }

/* Page Home */

    #background_home #button_galerie {

        left: 25%;
        right: 25%;
        
      }

    #background_home #intro_home{
    
        top: 120px;
        font-size: 1.6rem; 
        padding: 20px 12px;
    
    }
 

    #tica_present #tica_text p {

        
        font-size: 1.2rem;
        max-width: 86%;
        margin: auto;

    }


}

@media screen and (min-width: 580px) {

/* Section Blog et instagram de home */


#insta_blog .block_bottom {

    min-width: 450px;
    height: 500px;

}

#insta_blog #block_blog {

    min-width: 450px;
    height: 500px;
    
}

#insta_blog  #frame_corner_lt {
  
    top: -50px;
    left: -50px;

}

#insta_blog  #frame_corner_lb {
   
    bottom: -570px;
    left: -50px;
    
}

#insta_blog  #frame_corner_rt {
 
    top: -570px;
    right: -50px;
    
}

#insta_blog  #frame_corner_rb {
 
    bottom: -50px;
    right: -50px;

}

#insta_blog .button_blog_insta {

    margin: 15px auto;
    font-size: 1.5rem;

}

#insta_blog #block_blog .card_blog {

    width: 45%;
    height: 176px;

}

#insta_blog #block_blog .card_blog img {

    border-radius: 8px;
    max-width: 200px;

}

#insta_blog #block_blog .card_blog p{

    font-size: 0.7rem;
   
}
   
#insta_blog #block_blog .card_blog h2{
   
    font-size: 1rem;
      
}

}
@media screen and (min-width: 600px) {

    .flex-template .frame_template_top .frame_template_corner_lt {

        position: absolute;
        top:  -30px;
        left: -25px;
        max-width: 140px;
    }
    
    
    .flex-template .frame_template_top .frame_template_corner_rt {
    
        position: absolute;
        top:  -30px;
        left: 515px;
        max-width: 140px;
    }
    
    .flex-template .frame_template_bottom .frame_template_corner_rb {
    
        position: absolute;
        bottom: -20px;
        right: -30px;
        max-width: 140px;
    }
    
    .flex-template .frame_template_bottom .frame_template_corner_lb {
    
        position: absolute;
        bottom: -20px;
        left: -330px;
        max-width: 140px;
    }
    
}
@media screen and (min-width: 720px) {

    /* Géneral */

    h1 {

        font-size: 2.5rem;
    
    }
    
    /* Header */

    #headband {
        
        height: 80px;
        font-size: 1.4rem;
    
    }

    #headband #headband_items #headband_logo p:first-child {

        font-size: 2.8rem;
    
    }
    
    #headband #headband_items #headband_logo p:last-child {
     
        line-height: 0.2rem;
        font-weight: 700;
    }

    #background_home #frame_header #frame_corner_lt {

        left: 100px;
    
    }
    #background_home #frame_header #frame_corner_lb {

        left: 100px;
    }
    
    #background_home #frame_header #frame_corner_rt {
    
        right: 100px;
    }
    
    #background_home #frame_header #frame_corner_rb {
    
        right: 100px;
    }

    #tica_present figure img {
    
        float: left;
    
    }


    /* Menu */

    #main_menu {

    
        width: 30%;
        display: flex;
        list-style: none;
        text-transform: uppercase;
        margin-top: 24px;
        
    }

    #headband #account_header {

        display: block;

    }

    #headband .burger_btn {

        display: none;

    }
    #headband #menu_burger {

        display: none;

    }
    #headband {
        
        font-size: 1.3rem;
    
    }

    #headband #account_header p {
    
        width:190px;
        padding-left: 20px;
    
    }

    #headband #account_header a{

        margin-top: 23px;
        padding-left: 20px;
        width: 88%;
        
    }


    /* HOME PAGE */
    /* première partie */

    #background_home #intro_home{
    
        top: 150px;
        font-size: 1.9rem; 
        padding: 40px 20px;
    
    }

    .button_light {

        padding: 10px 30px;
        font-size: 1.6rem;
    
    }

    /* deuxieme partie */

    #tica_present #tica_text {

        position: relative;
        left: 7%;
        width: 85%;
        margin-top: 50px;
        max-width: 800px;
        min-width: 690px;
    
    }

    #tica_present #tica_text p {

        margin-top: 10px;
        font-size: 1.3rem;
        max-width: 80%;
        text-align: left;
        position: relative;
        left: 15px;
    }

    #tica_present #tica_text #first_para_tica {

        position: relative;
        left: -40px;
        max-width: 90%;
        
    }

    /* Footer */ 

    footer {

        font-size: 1.2rem;
        
    }
    

    footer #footer_flex {

        flex-direction: row;
       
    }

    footer aside {

        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: 2%;
        margin-right: 2%;
    
    }

    footer .vertical_dot_line {

        display: block;
        border-left: 2px dashed #5e5e5e;
        height: 100px;
        margin-top: 5px;
        
    }

    footer #nav_link {
    
        width: 25%;
        min-width: 220px;
        margin-left: 12%;
        margin-right: 12%;
        font-size: 1.3rem;
        margin-top: 10px;
        text-align: left;
        
    }

    footer #footer_menu {

        
        width: 28%;
        padding-left: 50px;
        padding-right: 20px;
        font-size: 1.6rem;
        margin-top: 0;
    
    }
    #footer_flex hr {
        display: none;
    }
    footer #footer_menu a {

        border: none;
        padding: 0;
        margin: 0;

    }

    footer #nav_link ul li {
        width: 100%;
        margin: 0;
        border: none;
        padding: 0px;

    }

    footer #nav_link ul li a {

        padding: 0px;
        
    }
}

@media screen and (min-width: 900px) {

    /* Header */

    #headband {
        
        font-size: 1.5rem;
    
    }

    #headband #account_header a{

        margin-top: 23px;
        padding-left: 20px;
        
    }

    #main_menu li {

        padding: 0 18px;

    }

    /* HOME PAGE */
    /* deuxième partie */

    #tica_present figure img {
    
        width: 370px;
    
    }

    #tica_present #tica_text p {

        
        max-width: 90%;
        font-size: 1.4rem;
        margin-top: 30px;
    
    }

    #tica_present #tica_text {

        
        left: 15%;
    
    }

    

}

@media screen and (min-width: 1022px) {

    /* HOME PAGE */
    /* Section Blog et instagram de home */

  
    
    #insta_blog  #frame_corner_lb {
       
        bottom: -50px;
     
    }
    
    #insta_blog  #frame_corner_rt {
        
        top: -50px;
        
    }
    


}

@media screen and (min-width: 1200px) {

    #headband {
        
        font-size: 1.6rem;
    
    }

    #headband #account_header img {

        width: 30px;
        height: 30px;
    
    }
    
    #headband #account_header p {
    
        width:185px;
        padding-left: 20px;
    
    }

    #headband #account_header a{

        margin-top: 23px;
        padding-left: 20px;
        
    }

    #main_menu li {

        padding:0 15px;
    
    }

}